<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
{% load i18n %}
<html>
<head>
    <meta charset="utf-8" />
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    <link rel='stylesheet' href='/media/upload/css/style.css'>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    {% block js %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript">
        function hideShow(el){
            $(el).toggleClass('show').next('div.hideCont').slideToggle('normal');
            return false;

        };
    </script>

    <script type="text/javascript">
        var IsVisible=0;
        function hideShowAll(el){
            if  (!IsVisible)
            {$(el).show('slow');
             $('.plusBtn').hide();
             $('.minusBtn').show();
             IsVisible=1;}
            else {$(el).hide('slow');
                $('.plusBtn').show();
                $('.minusBtn').hide();
                IsVisible=0;}


              return false;
        };
    </script>

    <nav id="globalheader">

        <ul id="globalnav" role="navigation">
            <li ><a href="/upload/"><span>Разбор</span></a></li>
            <li ><a href="/projects/"><span>Проекты</span></a></li>
            <li ><a href="/plans"><span>Планы</span></a></li>
            <li ><a href="/about/"><span>О себе...</span></a></li>
        </ul>
    </nav>
</head>
<body>

<!--<h1>Confcenter</h1>-->

{% block content %}{% endblock %}
{% block footer %}
    <div id="footer">
        <hr color="#F9F9F9"/>
        <ul class="piped">
            <li ><a href="/upload/"><span>Разбор</span></a></li>
            <li ><a href="/projects/"><span>Проекты</span></a></li>
            <li ><a href="/plans"><span>Планы</span></a></li>
            <li ><a href="/about/"><span>О себе</span></a></li>
            <li> <a href=""><span>Обратная связь</span></a> </li>
        </ul>
    </div>
{% endblock %}

</body>
</html>