<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
{% load i18n %}
<html>
<head>
    <meta charset="utf-8" />
    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    <link rel='stylesheet' href='/media/upload/css/style.css'>
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
    {% block js %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript">
        function hideShow(el){
            $(el).toggleClass('show').next('div.hideCont').slideToggle('normal');
            return false;
        };
    </script>

    <nav id="globalheader">

        <ul id="globalnav" role="navigation">
            <li ><a href="#smth1" onclick="$('#content1').slideToggle('normal');return false"><span>Main</span></a></li>
            <li id="gn-s"><a href="#smth2"><span>Smth2</span></a></li>
            <li id="gn-s"><a href="#"><span>Smth3</span></a></li>
            <li id="gn-s"><a href="#"><span>Smth4</span></a></li>
            <li id="gn-s"><a href="#"><span>Smth5</span></a></li>
            <li id="gn-s"><a href="#"><span>Smth6</span></a></li>
            <li id="gn-s"><a href="#"><span>Smth7</span></a></li>
            <li id="gn-s"><a href="#"><span>Smth8</span></a></li>
        </ul>
    </nav>
</head>
<body>

<!--<h1>Confcenter</h1>-->

{% block content %}{% endblock %}
{% block footer %}
{% endblock %}

</body>
</html>