{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "conf_upload_form_title" %} {% endblock %}

{% block js %}
    <script src="{{ MEDIA_URL }}/js/test.js" type="text/javascript" xmlns="http://www.w3.org/1999/html"></script>
{% endblock %}

{% block content %}
    <div id="content">
        {% if form.errors %}
            <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
                {{ form.errors }}
            </p>
        {% endif %}

        <form id="upload_form" enctype="multipart/form-data" method="post">
            <table>
                {{ form.as_table }}
            </table>
            <div class="submit-row">
                <input type="submit" style="padding: 20" value={% trans "button_submit_upload" %} />
            </div>

        </form>
        <div id="progressbar"></div>
        <div id="analyze" style="display: NONE" align="center">
            <p>{% trans "analyze_upload" %}</p>
            <img id="analyze_progress" src="/media/upload/img/icon_inprogress.gif" />
        </div>

    </div>
{% endblock %}
