{% extends "base.html" %}
{% load i18n %}

{% block title %} {% trans "conf_upload_form_title" %} {% endblock %}

{% block js %}
    <script src="{{ MEDIA_URL }}/js/test.js" type="text/javascript" xmlns="http://www.w3.org/1999/html"></script>
{% endblock %}
{%  block style %}
    #globalheader #globalnav li.nav_upload a {
    background: #98B85B;
    color: #cae285;
    text-shadow: 1px 1px #6E883F;
    }

{% endblock %}
{% block content %}
    <div id="content_conf">
        {% if form.errors %}
            <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
                {{ form.errors }}
            </p>
        {% endif %}

        <form id="upload_form" enctype="multipart/form-data" method="post">
            <table id="upload_table">
                <tr><th><label for="id_ostype">{% trans "choose_ostype_upload" %}</label></th><td><select name="ostype" id="id_ostype">
                    <optgroup label={% trans "Auto-detect" %}>
                        <option value="0">{% trans "Auto-detect" %}</option>
                    </optgroup>
                </select></td></tr>
                <tr><th><label for="id_file">{% trans "choose_file_upload" %}</label></th><td><input type="file" name="file" id="id_file" /></td></tr>
                <tr><th></th><td><input type="submit" id="id_submit"  value={% trans "button_submit_upload" %} /></td></tr>
            </table>


        </form>
        <div id="progressbar" style="display: NONE">
            <p style="background: none; position: absolute; left: 450px; font-size: 8pt"> {% trans "Loading" %} </p>
        </div>

        <div id="analyze" style="display: NONE" align="center">
            <p>{% trans "analyze_upload" %}</p>
            <img id="analyze_progress" src="/media/upload/img/progressbar.indicator.gif" />
        </div>

    </div>

{% endblock %}
