{% extends "base.html" %}

{% block title %}Upload configuration output{% endblock %}

{% block js %}
        <script src="{{MEDIA_URL}}/js/test.js" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div id="content">
        {% if form.errors %}
            <p style="color: red;">
                Please correct the error{{ form.errors|pluralize }} below.
                {{ form.errors }}
            </p>
        {% endif %}

        <form id="upload_form" enctype="multipart/form-data" method="post">
            <table>
{#                <input type="hidden" id="X_Progress_ID" name="X_Progress_ID" value=""/>#}
                {{ form.as_table }}
            </table>
            <div class="submit-row">
                <input type="submit" value="Загрузить"" class="default"/>
            </div>

{#           <p> <input type="submit" id="submbutton" value="Загрузить"> </p>#}
        </form>
        <div id="progressbar"></div>

    </div>
{% endblock %}
