{% extends "base.html" %}
{% load i18n %}

{% block title %} Configuration Analysis {% endblock %}

{% block content %}
<div id="headpiece">
  <DL class="news">

      {% for item in news %}
          <DD class="newsDD">
              {{ item.date }} - {{ item.text }}
          </DD>
      {% endfor %}
{#     <DD class="fst">#}
{#        18.02.2012 Добавлен раздел "Новости"#}
{#     </DD>#}
{#      <DD class="scnd">#}
{#          18.02.2012 Исправлена ошибка записи больших таблиц в pdf#}
{#      </DD>#}
{#      <DD class="thrd">#}
{#          17.02.2013 Создан сайт#}
{#      </DD>#}
  </DL>

</div>

{% endblock %}