{% extends "base.html" %}
{% load i18n %}

{% block title %}Plans{% endblock %}

{% block js %}
    <script src="{{ MEDIA_URL }}/js/test.js" type="text/javascript" xmlns="http://www.w3.org/1999/html"></script>
{% endblock %}
{%  block style %}
    #globalheader #globalnav li.nav_plans a {
    background: #98B85B;
    color: #cae285;
    text-shadow: 1px 1px #6E883F;
    }


{% endblock %}
{% block content %}
    <div id="content_conf">
        <h1> Configuration Analysis: </h1>
        <ol class="about">
            <li>OS Solaris support (create explorer output analysis).</li>
            <li>OS RHEL support (create explorer configuration files analysis).</li>
            <li>VRTSexplorer output support in different platforms.</li>
            <li>Develop basic modules for configuration analysis.</li>
        </ol>
    </div>
{% endblock %}