{% extends "base.html" %}
{% load i18n %}

{% block title %}Проекты{% endblock %}

{% block js %}
    <script src="{{ MEDIA_URL }}/js/test.js" type="text/javascript" xmlns="http://www.w3.org/1999/html"></script>
{% endblock %}
{%  block style %}
    #globalheader #globalnav li.nav_projects a {
    background: #98B85B;
    color: #cae285;
    text-shadow: 1px 1px #6E883F;
    }


{% endblock %}
{% block content %}
    <div id="content_conf">

            <h1>Анализ конфигураций: </h1>
        <p class="about">    Цель проекта - создать инструмент автоматической обработки конфигурационных выводов с оборудования.
            Сейчас в данном проекте реализована обработка и разбор выводов утилиты snap с серверов IBM Power.
            Результатом разбора является страница с данным о сервере (разделе сервера). Существует возможность выполнить экспорт конфигурации в PDF файл.</p>
    </div>
{% endblock %}