{% extends "base.html" %}
{% load i18n %}

{% block title %}Analysis results for snap - {{ snapname }} {% endblock %}
{%  block style %}
    #globalheader #globalnav li.nav_upload a {
    background: #98B85B;
    color: #cae285;
    text-shadow: 1px 1px #6E883F;
    }

{% endblock %}
{% block content %}
    <div id="content">
    <form action="" method="post">
    <p> <input type="button" title="{% trans "hide_show_all" %}" class="plusBtn" value="   +   " onclick="hideShowAll('div.hideCont');return false;">
        <input type="button" title="{% trans "hide_show_all" %}" class="minusBtn" value="   -   " onclick="hideShowAll('div.hideCont');return false;" style="display: none">
        <input type="submit" style="display:none" name="db_save" value="{% trans "save_in_db_button" %}">
        <input type="submit" name="pdf_save" value="{% trans "save_in_pdf_button" %}"> </p>
    {% if sysparams %}
        <A class = "hideBtn" onclick="hideShow(this);return false;"> {% trans "system_params_rep" %}
        </A><DIV style="display:none;" class="hideCont">
            <table>
                <tr> <td>{% trans "server_type_model_rep" %}</td><td>  {{ sysparams.plat_type}} - {{ sysparams.plat_model }} </td> </tr>
                <tr> <td>{% trans "server_serial_rep" %}</td><td>  {{ sysparams.plat_serial }} </td> </tr>
                <tr> <td>{% trans "server_lparname_rep" %}</td><td>  {{ hostname.hostname }} </td> </tr>
                <tr></tr>
                {% ifequal hacmp.hacmp_used 0 %}
                    <tr> <td>{% trans "hacmp_notused_rep" %}</td></tr>
                {% else %}
                    {% ifequal hacmp.hacmp_used '1' %}
                        <tr> <td>{% trans "hacmp_used_rep" %}</td></tr>
                    {% else %}
                        <tr> <td>{% trans "hacmp_notdetected_rep" %}</td></tr>
                    {% endifequal %}
                {% endifequal %}
            </table>
        </DIV>
    {% endif %}

    {% if lparinfo %}
        <A class = "hideBtn" onclick="hideShow(this);return false;"> {% trans "lpar_conf_rep" %}
        </A><DIV style="display:none;" class="hideCont">
            <table>
                <tr> <td>{% trans "lpar_hmcnum_rep" %}</td><td>{{ lparinfo.lpar_number}}</td> </tr>
                <tr> <td>{% trans "lpar_hmcname_rep" %}</td><td>{{ lparinfo.lpar_name}}</td> </tr>
                <tr> <td>{% trans "lpar_type_rep" %}</td><td>{{ lparinfo.lpar_type}}</td> </tr>
                <tr> <td>{% trans "lpar_mode_rep" %}</td><td>{{ lparinfo.lpar_mode}}</td> </tr>
                <tr> <td>{% trans "lpar_capacity_rep" %}</td><td>{{ lparinfo.lpar_capacity}}</td> </tr>
                <tr></tr>
                <tr> <td>{% trans "lpar_mincpu_rep" %}</td><td>{{ lparinfo.lpar_min_cpu}}</td> </tr>
                <tr> <td>{% trans "lpar_descpu_rep" %}</td><td>{{ lparinfo.lpar_des_cpu}}</td> </tr>
                <tr> <td>{% trans "lpar_maxcpu_rep" %}</td><td>{{ lparinfo.lpar_max_cpu}}</td> </tr>
                <tr></tr>
                <tr> <td>{% trans "lpar_minmem_rep" %}</td><td>{{ lparinfo.lpar_min_mem}}</td> </tr>
                <tr> <td>{% trans "lpar_desmem_rep" %}</td><td>{{ lparinfo.lpar_des_mem}}</td> </tr>
                <tr> <td>{% trans "lpar_maxmem_rep" %}</td><td>{{ lparinfo.lpar_max_mem}}</td> </tr>
            </table>
        </DIV>
    {% endif %}

    {% if mcodes %}
        <A class = "hideBtn" onclick="hideShow(this);return false;"> {% trans "mcode_levels_rep" %}
        </A><DIV style="display:none;" class="hideCont">
            {% regroup mcodes by mcode_devname as mcodes_list %}
            <table>
                {% for mcode in mcodes %}
                    <tr> <td> {% trans "mcode_dev_rep" %}{{ mcode.mcode_devname }}: </td>  <td> {{ mcode.mcode_level }} </td> </tr>
                {% endfor %}
            </table>
        </DIV>
    {% endif %}

    {% if oslevel %}
        <A class = "hideBtn" onclick="hideShow(this);return false;"> {% trans "oslevel_rep" %}
        </A><DIV style="display:none;" class="hideCont">
            <table>
                <tr><td></td>{% trans "oslevel_rep" %}<td> {{ oslevel.oslevel }} </td></tr>
            </table>
        </DIV>
    {% endif %}

    {% if dumpdev %}
        <A class = "hideBtn" onclick="hideShow(this);return false;"> {% trans "dumpdev_conf_rep" %}
        </A><DIV style="display:none;" class="hideCont">
            <table>
                <tr><td>{% trans "primary_dumpdev_rep" %}</td>
                    <td> {{ dumpdev.dumpdev_primary }} </td></tr>
                <tr><td>{% trans "secondary_dumpdev_rep" %}</td>
                    <td> {{ dumpdev.dumpdev_secondary }} </td></tr>
                <tr><td>{% trans "dumpdev_copypath" %}</td> <td> {{ dumpdev.dumpdev_copypath }} </td></tr>
            </table>
        </DIV>
    {% endif %}

    {% if dump %}
        <A class = "hideBtn" onclick="hideShow(this);return false;"> {% trans "sysdump_prp_rep" %}
        </A><DIV style="display:none;" class="hideCont">
            <table>
                <tr>
                    <td>{% trans "sysdump_date_rep" %}</td>
                    <td> {{ dump.dump_date }} </td>
                </tr>
                <tr>
                    <td>{% trans "sysdump_status_rep" %}</td>
                    <td> {{ dump.dump_status }} </td>
                </tr>
                <tr>
                    <td>{% trans "sysdump_size_rep" %}</td>
                    <td> {{ dump.dump_size }} bytes</td>
                </tr>
            </table>
        </DIV>
    {% endif %}

    {% if emgrs %}
        <A class = "hideBtn" onclick="hideShow(this);return false;"> {% trans "emgr_info_rep" %}
        </A><DIV style="display:none;" class="hideCont">
            <table>
                {% for emgr in emgrs %}
                    <tr>
                        <td>{% trans "emgr_label_rep" %}</td>
                        <td> {{ emgr.emgr_label }} </td>
                    </tr>
                    <tr>
                        <td>{% trans "emgr_instdate_rep" %}</td>
                        <td> {{ emgr.emgr_instdate }} </td>
                    </tr>
                    <tr>
                        <td>{% trans "emgr_abstruct_rep" %}</td>
                        <td> {{ emgr.emgr_abstruct }}</td>
                    </tr>
                    <tr>
                        <td>{% trans "emgr_status_rep" %}</td>
                        <td> {{ emgr.emgr_status }}</td>
                    </tr>
                    {% if not forloop.last %}
                        <tr></tr> {% endif %}
                {% endfor %}
            </table>
        </DIV>
    {% endif %}

    {% if errors %}
{#        #}
        <A class = "hideBtn" onclick="hideShow(this);return false;"> {% trans "err_info_rep" %}
        </A><DIV style="display:none;" class="hideCont">
            <table>
                    <tr><td>{% trans "err_count_rep" %}</td>
                        <td>{% trans "err_id_rep" %}</td>
                        <td>{% trans "err_firstocc_rep" %}</td>
                        <td>{% trans "err_lastocc_rep" %}</td>
                        <td>{% trans "err_type_rep" %}</td>
                        <td>{% trans "err_class_rep" %}</td>
                        <td>{% trans "err_resource_rep" %}</td>
                        <td>{% trans "err_desc_rep" %}</td>
                    </tr>

                {% for error in errors %}
                    <tr>
                        <td>{{ error.errpt_errq }}</td>
                        <td>{{ error.errpt_errid }}</td>
                        <td>{{ error.errpt_errdates }}</td>
                        <td>{{ error.errpt_erridatee }}</td>
                        <td>{{ error.errpt_errtype }}</td>
                        <td>{{ error.errpt_class }}</td>
                        <td>{{ error.errpt_errres }}</td>
                        <td>{{ error.errpt_errdesc }}</td>
                    </tr>
                {% endfor %}
            </table>
        </DIV>
    {% endif %}

    {% if bootinfo %}
        <A class = "hideBtn" onclick="hideShow(this);return false;"> {% trans "bootinfo_rep" %}
        </A><DIV style="display:none;" class="hideCont">
            <table>
                <tr><td>{% trans "osloaded_rep" %}{{ bootinfo.bootinfo_k }}{% trans "osbits_rep" %}</td></tr>
            </table>
        </DIV>
    {% endif %}

    {% if smt %}
        <A class = "hideBtn" onclick="hideShow(this);return false;"> {% trans "smtinfo_rep" %}
        </A><DIV style="display:none;" class="hideCont">
            <table>
                {% ifequal smt.smt_threads_count '0' %}
                    <tr>
                        <td>{% trans "smt0_threads_rep" %}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td> {% trans "smton_rep" %}{{ smt.smt_threads_count }} {% trans "smt_threades_rep" %}</td>
                    </tr>
                {% endifequal %}
            </table>
        </DIV>
    {% endif %}

    {% if tunables %}
        <A class = "hideBtn" onclick="hideShow(this);return false;"> {% trans "tun_info_rep" %}
        </A><DIV style="display:none;" class="hideCont">
            <table>
                <tr>
                    <td>{% trans "tun_name_rep" %}</td>
                    <td>{% trans "tun_value_rep" %}</td>
                </tr>
                {% for tun in tunables %}
                    <tr>
                        <td> {{ tun.tun_name }}</td>
                        <td> {{ tun.tun_value }} </td>
                    </tr>
                {% endfor %}
            </table>
        </DIV>
    {% endif %}

    {% if no_tunables %}
{#        #}
        <A class = "hideBtn" onclick="hideShow(this);return false;"> {% trans "notun_info_rep" %}
        </A><DIV style="display:none;" class="hideCont">
            <table>
                <tr>
                    <td>{% trans "notun_name_rep" %}</td>
                    <td>{% trans "notun_value_rep" %}</td>
                </tr>
                {% for tun in no_tunables %}
                    <tr>
                        <td> {{ tun.tun_name }}</td>
                        <td> {{ tun.tun_value }} </td>
                    </tr>
                {% endfor %}
            </table>
        </DIV>
    {% endif %}

    {% if vgs %}
        <A class = "hideBtn" onclick="hideShow(this);return false;">{% trans "vg_info_rep" %}
        </A><DIV style="display:none;" class="hideCont">
            <table>
                <thead>
                <td>{% trans "vgname_rep" %}</td>
                <td>{% trans "vgstate_rep" %}</td>
                <td>{% trans "vgblocksize_rep" %}</td>
                <td>{% trans "vgfreesize_rep" %}</td>
                <td>{% trans "vgdiskcount_rep" %}</td>
                <td>{% trans "vgdiskactive_rep" %}</td>
                <td>{% trans "vgautoimport_rep" %}</td>
                </thead>
                {% for vg in vgs %}
                    <tr>
                        <td>{{ vg.name }}</td>
                        <td>{{ vg.state }}</td>
                        <td>{{ vg.pp_size }}</td>
                        <td>{{ vg.free_size }}</td>
                        <td>{{ vg.totalpv }}</td>
                        <td>{{ vg.activepv }}</td>
                        <td>{{ vg.auto }}</td>
                    </tr>
                {% endfor %}
            </table>
        </DIV>
    {% endif %}

    {% if lvs %}
{#        #}
        <A class = "hideBtn" onclick="hideShow(this);return false;">{% trans "lv_info_rep" %}
        </A><DIV style="display:none;" class="hideCont">
        {% for lv in lvs %}
            <thead>{% trans "vgtitle_rep" %} {{ lv.volgroup }}</thead>
            <table>
                <tr>
                    <td>{% trans "lvname_rep" %}</td>
                    <td>{% trans "lvtype_rep" %}</td>
                    <td>{% trans "lvcopycount_rep" %}</td>
                    <td>{% trans "lvstate_rep" %}</td>
                    <td>{% trans "lvmountp_rep" %}</td>
                    <td>{% trans "lvmounted_rep" %}</td>
                    <td>{% trans "lvbusy_rep" %}</td>
                    <td>{% trans "lvinodebusy_rep" %}</td>
                </tr>
                {% for l in lv.volumes %}
                    <tr>
                        <td>{{ l.name }}</td>
                        <td>{{ l.type }}</td>
                        <td>{{ l.copies }}</td>
                        <td>{{ l.state }}</td>
                        <td>{{ l.mount }}</td>
                        <td>{{ l.mounted }}</td>
                        <td>{{ l.used }}</td>
                        <td>{{ l.iused }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
        </DIV>
    {% endif %}

    {% if swaps %}
{#        #}
        <A class = "hideBtn" onclick="hideShow(this);return false;">{% trans "swap_info_rep" %}
        </A><DIV style="display:none;" class="hideCont">
            <table>
                <tr>
                    <td>{% trans "swapname_rep" %}</td>
                    <td>{% trans "swapactive_rep" %}</td>
                    <td>{% trans "swapsize_rep" %}</td>
                    <td>{% trans "swapused_rep"%}</td>
                </tr>
                {% for swap in swaps %}
                    <tr>
                        <td>{{ swap.swap_vol }}</td>
                        <td>{{ swap.swap_active }}</td>
                        <td>{{ swap.swap_size }}</td>
                        <td>{{ swap.swap_used }}%</td>
                    </tr>
                {% endfor %}
            </table>
        </DIV>
    {% endif %}

    {% if dns %}
{#        #}
        <A class = "hideBtn" onclick="hideShow(this);return false;">{% trans "dns_info_rep" %}
        </A><DIV style="display:none;" class="hideCont">
            <table>
                {% if dns.dns_nameserver_1 %}
                    <tr>
                        <td>{% trans "dnsname_rep" %} (1)</td>
                        <td>{{ dns.dns_nameserver_1 }}</td>
                    </tr>
                {% endif %}
                {% if dns.dns_nameserver_2 %}
                    <tr>
                        <td>{% trans "dnsname_rep" %} (2)</td>
                        <td>{{ dns.dns_nameserver_2 }}</td>
                    </tr>
                {% endif %}
                {% if dns.dns_nameserver_3 %}
                    <tr>
                        <td>{% trans "dnsname_rep" %} (3)</td>
                        <td>{{ dns.dns_nameserver_3 }}</td>
                    </tr>
                {% endif %}
                {% if dns.dns_nameserver_4 %}
                    <tr>
                        <td>{% trans "dnsname_rep" %} (4)</td>
                        <td>{{ dns.dns_nameserver_4 }}</td>
                    </tr>
                {% endif %}
                {% if dns.dns_nameserver_5 %}
                    <tr>
                        <td>{% trans "dnsname_rep" %} (5)</td>
                        <td>{{ dns.dns_nameserver_5 }}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>{% trans "dnsdomain_rep" %}</td>
                    <td>{{ dns.dns_domain }}</td>
                </tr>
                <tr>
{#                    #}
                    <td>{% trans "dnssearch_rep" %}</td>
                    <td>{{ dns.dns_search }}</td>
                </tr>
            </table>
        </DIV>
    {% endif %}

    {% if hequiv %}
        <A class = "hideBtn" onclick="hideShow(this);return false;">{% trans "hequiv_info_rep" %}
        </A><DIV style="display:none;" class="hideCont">
            <table>
                {% for record in hequiv%}
                    <tr>
                        <td>{{ record }}</td>
                    </tr>
                {% endfor %}
            </table>
        </DIV>
    {% endif %}

    {% if nfs %}
        <A class = "hideBtn" onclick="hideShow(this);return false;">{% trans "nfsshares_info_rep" %}
        </A><DIV style="display:none;" class="hideCont">
            <table>
                {% if nfs|length > 1 %}
                    <tr>{% trans "nfssharename_rep" %}<td></td></tr>
                    {% for fs in nfs %}
                        <tr><td>{% trans "nfsexported_rep" %}</td></tr>
                        <tr><td>{{ fs  }}</td></tr>
                    {% endfor %}
                {% else %}
                    {% for fs in nfs %}
                        {% ifequal fs "exportfs: nothing exported" %}
                            <tr><td>{% trans "nonfsshares_rep" %}</td> </tr>
                        {% else %}
                            <tr><td>{% trans "nfsexported_rep" %}</td></tr>
                            <tr><td>{{ fs  }}</td></tr>
                        {% endifequal %}
                    {% endfor %}
                {% endif %}
            </table>
        </DIV>
    {% endif %}

    {% if rpms %}
        <A class = "hideBtn" onclick="hideShow(this);return false;">{% trans "rpms_info_rep" %}
        </A><DIV style="display:none;" class="hideCont">
            <table>
                <tr>
                    <td>{% trans "rpmnamever_rep" %}</td>
                </tr>
                {% for rpm in rpms %}
                    <tr>
                        <td>{{ rpm.rpmname }}</td>
                    </tr>
                {% endfor %}
            </table>
        </DIV>
    {% endif %}

    {% if vrtslpps %}
{#        #}
        <A class = "hideBtn" onclick="hideShow(this);return false;">{% trans "vrtslpps_info_rep" %}
        </A><DIV style="display:none;" class="hideCont">
            <table>
                <tr>
                    <td>{% trans "vrtslppname_rep" %}</td>
                    <td>{% trans "vrtslppver_rep" %}</td>
                </tr>
                {% for lpp in vrtslpps %}
                    <tr>
                        <td>{{ lpp.lppname }}</td>
                        <td>{{ lpp.lppver }}</td>
                    </tr>
                {% endfor %}
            </table>
        </DIV>
    {% endif %}

    {% if sysparams %}
        <A class = "hideBtn" onclick="hideShow(this);return false;">{% trans "sys0_info_rep" %}
        </A><DIV style="display:none;" class="hideCont">
            <table>
                <tr>
                    <td>{% trans "atname_rep" %}</td>
                    <td>{% trans "atval_rep" %}</td>
                </tr>
                <tr>
                    <td>{{ sysparams.atname_1 }}</td>
                    <td>{{ sysparams.atval_1 }}</td>
                </tr>
                <tr>
                    <td>{{ sysparams.atname_2 }}</td>
                    <td>{{ sysparams.atval_2 }}</td>
                </tr>
            </table>
        </DIV>
    {% endif %}

    {% if limits %}
        <A class = "hideBtn" onclick="hideShow(this);return false;">{% trans "limits_info_rep" %}
        </A><DIV style="display:none;" class="hideCont">
        {% for user in limits %}
            <h3>{{ user.username }}</h3>
            <table>
                <tr>
                    <td>{% trans "atname_rep" %}</td>
                    <td>{% trans "atval_rep" %}</td>
                </tr>
                {% for limit in user.limitlist %}
                    <tr>
                        <td>{{ limit.limname }}</td>
                        <td>{{ limit.limval }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endfor %}
        </DIV>
    {% endif %}

    {% if adapters %}
        <A class = "hideBtn" onclick="hideShow(this);return false;">{% trans "adapters_info_rep" %}
        </A><DIV style="display:none;" class="hideCont">
            <table>
                <tr>
                    <td>{% trans "adaptername_rep" %}</td>
                    <td>{% trans "adapterdesc_rep" %}</td>
                    <td>{% trans "adaptestate_rep" %}</td>
                    <td>{% trans "adapterloc_rep" %}</td>
                </tr>
                {% for adapter in adapters %}
                    <tr>
                        <td>{{ adapter.adapter_name }}</td>
                        <td>{{ adapter.adapter_desc }}</td>
                        <td>{{ adapter.adapter_state }}</td>
                        <td>{{ adapter.adapter_loc }}</td>
                    </tr>
                {% endfor %}
            </table>
        </DIV>
    {% endif %}

    {% if ent1g_attrs %}
        <A class = "hideBtn" onclick="hideShow(this);return false;">{% trans "ent1g_info_rep" %}
        </A><DIV style="display:none;" class="hideCont">
        {% for ent in ent1g_attrs %}
            <h3>{{ ent.name }}</h3>
            <table>
                <tr>
                    <td>{% trans "atname_rep" %}</td>
                    <td>{% trans "atval_rep" %}</td>
                </tr>
                <tr>
                    <td>{{ ent.atname_1 }}</td>
                    <td>{{ ent.atval_1 }}</td>
                </tr>
                <tr>
                    <td>{{ ent.atname_2 }}</td>
                    <td>{{ ent.atval_2 }}</td>
                </tr>
                <tr>
                    <td>{{ ent.atname_3 }}</td>
                    <td>{{ ent.atval_3 }}</td>
                </tr>
                <tr>
                    <td>{{ ent.atname_4 }}</td>
                    <td>{{ ent.atval_4 }}</td>
                </tr>
            </table>
        {% endfor %}
        </DIV>
    {% endif %}

    {% if ent10g_attrs %}
        <A class = "hideBtn" onclick="hideShow(this);return false;">{% trans "ent10g_info_rep"%}
        </A><DIV style="display:none;" class="hideCont">
            {% for ent in ent10g_attrs %}
                <h3>{{ ent.name }}</h3>
                <table>
                    <tr>
                        <td>{% trans "atname_rep" %}</td>
                        <td>{% trans "atval_rep" %}</td>
                    </tr>
                    <tr>
                        <td>{{ ent.atname_1 }}</td>
                        <td>{{ ent.atval_1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ ent.atname_2 }}</td>
                        <td>{{ ent.atval_2 }}</td>
                    </tr>
                    <tr>
                        <td>{{ ent.atname_3 }}</td>
                        <td>{{ ent.atval_3 }}</td>
                    </tr>
                </table>
            {% endfor %}
        </DIV>
    {% endif %}

    {% if entec_attrs %}
        <A class = "hideBtn" onclick="hideShow(this);return false;">{% trans "entec_info_rep" %}
        </A><DIV style="display:none;" class="hideCont">
        {% for ent in entec_attrs %}
            <h3>{{ ent.name }}</h3>
            <table>
                <tr>
                    <td>{% trans "atname_rep" %}</td>
                    <td>{% trans "atval_rep" %}</td>
                </tr>
                <tr>
                    <td>{{ ent.atname_1 }}</td>
                    <td>{{ ent.atval_1 }}</td>
                </tr>
                <tr>
                    <td>{{ ent.atname_2 }}</td>
                    <td>{{ ent.atval_2 }}</td>
                </tr>
                <tr>
                    <td>{{ ent.atname_3 }}</td>
                    <td>{{ ent.atval_3 }}</td>
                </tr>
            </table>
        {% endfor %}
    </DIV>
    {% endif %}

    {% if fcs_attrs %}
        <A class = "hideBtn" onclick="hideShow(this);return false;">{% trans "fcs_info_rep" %}
        </A><DIV style="display:none;" class="hideCont">
        {% for fcs in fcs_attrs %}
            <h3>{{ fcs.name }}</h3>
            <table>
                <tr>
                    <td>{% trans "atname_rep" %}</td>
                    <td>{% trans "atval_rep" %}</td>
                </tr>
                <tr>
                    <td>{{ fcs.atname_1 }}</td>
                    <td>{{ fcs.atval_1 }}</td>
                </tr>
                <tr>
                    <td>{{ fcs.atname_2 }}</td>
                    <td>{{ fcs.atval_2 }}</td>
                </tr>
                <tr>
                    <td>{{ fcs.atname_3 }}</td>
                    <td>{{ fcs.atval_3 }}</td>
                </tr>
            </table>
        {% endfor %}
    </DIV>
    {% endif %}

    {% if fscsi_attrs %}
        <A class = "hideBtn" onclick="hideShow(this);return false;">{% trans "fscsi_info_rep" %}
        </A><DIV style="display:none;" class="hideCont">
        {% for fscsi in fscsi_attrs %}
            <h3>{{ fscsi.name }}</h3>
            <table>
                <tr>
                    <td>{% trans "atname_rep" %}</td>
                    <td>{% trans "atval_rep" %}</td>
                </tr>
                <tr>
                    <td>{{ fscsi.atname_1 }}</td>
                    <td>{{ fscsi.atval_1 }}</td>
                </tr>
                <tr>
                    <td>{{ fscsi.atname_2 }}</td>
                    <td>{{ fscsi.atval_2 }}</td>
                </tr>
                <tr>
                    <td>{{ fscsi.atname_3 }}</td>
                    <td>{{ fscsi.atval_3 }}</td>
                </tr>
            </table>
        {% endfor %}
        </DIV>
    {% endif %}

    {% if disks %}
        <A class = "hideBtn" onclick="hideShow(this);return false;">{% trans "hdisk_info_rep" %}
        </A><DIV style="display:none;" class="hideCont">
            <table>
                <tr>
                    <td>{% trans "hdisktype_rep" %}</td>
                    <td>{% trans "hdiskcount_rep" %}</td>
                </tr>
                {% for disk in disks %}
                    <tr>
                        <td>{{ disk.hdisk_type }}</td>
                        <td>{{ disk.hdisk_count }}</td>
                    </tr>
                {% endfor %}
            </table>
        </DIV>
    {% endif %}

    {% if rmts %}
        <A class = "hideBtn" onclick="hideShow(this);return false;">{% trans "rmts_info_rep" %}
        </A><DIV style="display:none;" class="hideCont">
            <table>
                <tr>
                    <td>{% trans "rmtname_rep" %}</td>
                    <td>{% trans "rmtvendor_rep" %}</td>
                    <td>{% trans "rmttype_rep" %}</td>
                </tr>
                {% for rmt in rmts %}
                    <tr>
                        <td>{{ rmt.name }}</td>
                        <td>{{ rmt.vendor }}</td>
                        <td>{{ rmt.type }}</td>
                    </tr>
                {% endfor %}
            </table>
        </DIV>
    {% endif %}

        <p>
            <input type="button" title="{% trans "hide_show_all" %}" class="plusBtn" value="   +   " onclick="hideShowAll('div.hideCont');return false;">
            <input type="button" title="{% trans "hide_show_all" %}" class="minusBtn" value="   -   " onclick="hideShowAll('div.hideCont');return false;" style="display: none">
        <input type="submit" style="display:none" name="db_save" value="{% trans "save_in_db_button" %}">
        <input type="submit" name="pdf_save" value="{% trans "save_in_pdf_button" %}"> </p>

    </form>
</div>
{% endblock %}