
/*��� ����� ���� ����� ���������� ���� � ����� �����*/
body {
	margin: 0px;
	padding: 0px;
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	background: #FFFFFF;
	color: #5e5e5e;
}

/*��������� � �������, �� ������� �� ������� ����� �����������, ����������� ����������*/
.hideBtn{
	display:block; /* ������� ���� - ��� ������ - ����������, ��� ��������� ���� */
	background: #F0F0F0; /* ��� ������ �������� */
    	background: -moz-linear-gradient(top, #FFFFFF, #F0F0F0); /* Firefox 3.6+ */
    		/* Chrome 1-9, Safari 4-5 */
    	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F0F0F0));
    		/* Chrome 10+, Safari 5.1+ */
    	background: -webkit-linear-gradient(top, #FFFFFF, #F0F0F0);
    	background: -o-linear-gradient(top, #FFFFFF, #F0F0F0); /* Opera 11.10+ */
    	background: -ms-linear-gradient(top, #FFFFFF, #F0F0F0); /* IE10 */
    	background: linear-gradient(top, #FFFFFF, #F0F0F0); /* CSS3 */ 
	
	font:bold 15px Verdana,sans-serif;
	padding:10px;
	cursor:pointer;
	outline:none;
}

/*���������� �������*/
.hideCont table td {
	padding-left:7px;
	padding-right:7px;
	padding-top:3px;
	padding-bottom:3px;
	background:#F9F9F9;
	font:13px Courier New;
}

/*���� �������*/
.hideCont table {padding-left:20px;}

#upload_table {text-align: left; font-size: 12px; font: Courier New; padding-top: 10px; padding-bottom: 10px;}

#upload_table td, #upload_table th {
    font: 15px "Trebuchet MS", Tahoma, Arial, sans-serif;
    padding:10px;
    border-radius: 3px;
    margin: 10px;
    background:#F9F9F9;
}


/*����, ��� ������������� �������� ����*/
#globalheader { 
	position:relative; 
	display:block; 
	width:980px; 
	height:40px; 
	margin:20px auto; 
	text-align:left; 
	font:12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

#globalheader #globalnav { position:relative; display:block; margin:0; padding:0; zoom:1; z-index:3; }

/*��� ���� ������ ������������ �������������*/
#globalheader #globalnav li { display:inline; }

/*��������� �������� ����*/
#globalheader #globalnav li a {
	float:left; width:194px; height:30px; overflow:hidden; text-indent:10px;
	outline: none;
	position: relative;
	cursor: pointer;
	border-radius: 3px;
	color: #5D7731;
	border: 1px solid #89A94D;
	border-top: 1px solid #AAD063;
	border-bottom: 1px solid #6D883B;
	background: -moz-linear-gradient(top,  #cae285 0%, #a3cd5a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cae285), color-stop(100%,#a3cd5a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cae285 0%,#a3cd5a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cae285 0%,#a3cd5a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cae285 0%,#a3cd5a 100%); /* IE10+ */
	background: linear-gradient(top,  #cae285 0%,#a3cd5a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cae285', endColorstr='#a3cd5a',GradientType=0 ); /* IE6-9 */
	background-color: #B6D76F;
 }

#globalheader #globalnav li a:hover {
	border-top: 1px solid #98B85B;
	background: -moz-linear-gradient(top,  #abd164 0%, #b9d972 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#abd164), color-stop(100%,#b9d972)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #abd164 0%,#b9d972 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #abd164 0%,#b9d972 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #abd164 0%,#b9d972 100%); /* IE10+ */
	background: linear-gradient(top,  #abd164 0%,#b9d972 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abd164', endColorstr='#b9d972',GradientType=0 ); /* IE6-9 */
	background-color: #B6D76F;
}

#globalheader #globalnav li a:active {
	top: 3px;
	border: 1px solid #88A84E;
	border-top: 1px solid #6E883F;
	border-bottom: 1px solid #95B855;
	background: #A7CF5F;
	box-shadow: inset 0 1px 2px #779441;
}


#globalnav a:link {font: 15px "Trebuchet MS", Tahoma, Arial, sans-serif; text-align: center; padding-top: 10px; text-shadow: 1px 1px #D0E5A4; text-decoration: none;}

/*���� ���� ������� � ������ ����� �����*/
#content {
        position:relative;
        display:block;
	width: 980px;
	margin: 20px auto;
	padding: 0px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
	background: #FFFFFF;
    }

#headpiece {position:relative;
    display:block;
    width: 980px;
    height: 800px;
    margin: 20px auto;
    padding: 0px;
    background: #FFFFFF;
    background-image: url(../img/server18.png);
 }

.news {font: 20px "Trebuchet MS", Tahoma, Arial,
        sans-serif; color: white; display:none;
        padding-left: 50px; padding-top: 100px; text-shadow: #8a8a8a 0.1em 0.1em 0.2em; text-decoration: none; overflow: hidden;

        }


#content_conf {
    position:relative;
    display:block;
    width: 980px;
    height: 800px;
    margin: 20px auto;
    padding: 0px;
    background: #FFFFFF;
    background-image: url(../img/back.png);}

#progressbar {margin-top: 40px;}

.ui-progressbar .ui-progressbar-value { background: #b9d972;}


#id_ostype, #id_file {
    font: 15px "Trebuchet MS", Tahoma, Arial, sans-serif;
    padding:5px;
    margin:10px;
    border-radius: 3px;
    border: 1px solid #F9F9F9;#	.idea/workspace.xml
#	confcenter/confuploads/
#	confcenter/log/upload.log.1
#	confcenter/log/upload.log.2

    background:#F9F9F9;
    }

#id_submit {
    font: 15px "Trebuchet MS", Tahoma, Arial, sans-serif;
    margin-left:15px;
    margin-top: 5px;
    margin-bottom: 5px;
    }


#footer {
    display:block;
    width:980px;
    margin:50px auto;
    position:relative;
    text-align:center;
    }

#footer .piped li{ display:inline;
    float:left; width:186px; margin-bottom:20px;overflow: hidden;
    outline: none;
    position: relative;
    cursor: pointer;
    color:#F9F9F9;
   }

#footer .piped li a:link, #footer .piped li a:visited { font: 10px "Trebuchet MS", Tahoma, Arial, sans-serif; color: rgba(172, 172, 172, 0.99); text-align: center; padding-top: 10px; text-decoration: none;
}

.about {font: 15px "Trebuchet MS", Tahoma, Arial, sans-serif; text-align: justify; padding-top: 15px; text-decoration: none; line-height: 1.5;}