4555 /opt/IBMinvscout/bin/invscoutClient_PartitionID
4555 /opt/IBMinvscout/bin/invscoutClient_VPD_Survey
4555 /sbin/helpers/jfs2/backbyinode
4550 /sbin/helpers/jfs2/diskusg
4555 /sbin/helpers/jfs2/restbyinode
6550 /usr/bin/acctctl
6550 /usr/bin/acctras
2555 /usr/bin/atq
4555 /usr/bin/capture
4555 /usr/bin/chcore
2555 /usr/bin/chfn
4550 /usr/bin/chgroup
2555 /usr/bin/chgrpmem
4555 /usr/bin/chkey
4550 /usr/bin/chrole
4550 /usr/bin/chsec
4550 /usr/bin/chuser
6555 /usr/bin/confsrc
0700 /usr/bin/cronadm
4555 /usr/bin/errpt
4550 /usr/bin/filemon
4550 /usr/bin/fileplace
4550 /usr/bin/fileplacej2
4550 /usr/bin/fileplacej2_64
4555 /usr/bin/getconf
4555 /usr/bin/iostat
4555 /usr/bin/lscore
4550 /usr/bin/lssec
2555 /usr/bin/lssrc
4555 /usr/bin/mesg
4550 /usr/bin/mkgroup
6550 /usr/bin/mkque
6550 /usr/bin/mkquedev
4550 /usr/bin/mkrole
4550 /usr/bin/mkuser
4550 /usr/bin/netpmon
4555 /usr/bin/pagdel
4555 /usr/bin/paginit
4555 /usr/bin/paglist
2555 /usr/bin/ps
4550 /usr/bin/pwck
4555 /usr/bin/pwdadm
4550 /usr/bin/pwdck
4555 /usr/bin/rdist
2550 /usr/bin/refresh
4555 /usr/bin/rm_mlcache_file
6550 /usr/bin/rmque
6550 /usr/bin/rmquedev
4555 /usr/bin/ruptime
4555 /usr/bin/rwho
4555 /usr/bin/script
4555 /usr/bin/setgroups
4555 /usr/bin/shell
2555 /usr/bin/smitacl
2555 /usr/bin/splp
2550 /usr/bin/startsrc
2550 /usr/bin/stopsrc
4550 /usr/bin/sysck
4550 /usr/bin/sysck_r
4550 /usr/bin/tcbck
2555 /usr/bin/timex
4555 /usr/bin/traceroute
2555 /usr/bin/uptime
4550 /usr/bin/usrck
4555 /usr/bin/vmstat
4555 /usr/bin/vmstat64
2555 /usr/bin/w
2555 /usr/bin/w64
4555 /usr/bin/yppasswd
4550 /usr/lib/lpd/digest
2555 /usr/lib/lpd/pio/etc/piomkapqd
4550 /usr/lib/lpd/pio/etc/piomkpq
4555 /usr/lib/lpd/pio/etc/pioout
2555 /usr/lib/lpd/piobe
4550 /usr/lib/lpd/rembak
4555 /usr/lib/mh/slocal
4755 /usr/lib/perf/libperfstat_updt_dictionary
4550 /usr/lib/sa/sadc
4555 /usr/lib/trcload
4755 /usr/lpp/X11/Xamples/bin/xload
4755 /usr/lpp/X11/bin/aixterm
4555 /usr/lpp/X11/bin/msmitpasswd
4755 /usr/lpp/X11/bin/xterm
4550 /usr/lpp/diagnostics/bin/Dctrl
4550 /usr/lpp/diagnostics/bin/diagTasksWebSM
4550 /usr/lpp/diagnostics/bin/diagela
4550 /usr/lpp/diagnostics/bin/diagela_exec
4550 /usr/lpp/diagnostics/bin/diaggetrto
4555 /usr/lpp/diagnostics/bin/diagrpt
4550 /usr/lpp/diagnostics/bin/diagrto
4550 /usr/lpp/diagnostics/bin/diagsetrto
4550 /usr/lpp/diagnostics/bin/uesensor
4550 /usr/lpp/diagnostics/bin/update_flash
4550 /usr/lpp/diagnostics/bin/update_manage_flash
4550 /usr/lpp/diagnostics/bin/uspchrp
4550 /usr/lpp/diagnostics/bin/usysfault
4550 /usr/lpp/diagnostics/bin/usysident
4550 /usr/lpp/diagnostics/bin/utape
4550 /usr/sbin/acct/accton
4550 /usr/sbin/allocp
4555 /usr/sbin/arp
4555 /usr/sbin/arp.atm
4555 /usr/sbin/arp.ib
4555 /usr/sbin/arp64
4555 /usr/sbin/atmstat
4555 /usr/sbin/atmstat.batm
4555 /usr/sbin/atmstat.chrm
4555 /usr/sbin/atmsvcd
4555 /usr/sbin/atmvcstat
4550 /usr/sbin/auditconv
4555 /usr/sbin/backbyinode
4550 /usr/sbin/cfgmgr
4550 /usr/sbin/chcod
4550 /usr/sbin/chcons
4550 /usr/sbin/chdev
4550 /usr/sbin/chpath
2550 /usr/sbin/chvirprt
4550 /usr/sbin/devinstall
4550 /usr/sbin/diag_exec
4550 /usr/sbin/diskusg
4555 /usr/sbin/entstat
4555 /usr/sbin/entstat.bent
4555 /usr/sbin/entstat.ethchan
4555 /usr/sbin/entstat.goent
4555 /usr/sbin/entstat.gxent
4555 /usr/sbin/entstat.hea
4555 /usr/sbin/entstat.kngent
4555 /usr/sbin/entstat.ment
4555 /usr/sbin/entstat.phxent
4555 /usr/sbin/entstat.scent
4555 /usr/sbin/entstat.vent
4555 /usr/sbin/entstat.vioent
4550 /usr/sbin/exec_shutdown
4550 /usr/sbin/extendvg
4555 /usr/sbin/fcstat
4555 /usr/sbin/fddistat
4555 /usr/sbin/fdformat
4555 /usr/sbin/format
4555 /usr/sbin/frcactrl
4555 /usr/sbin/frcactrl64
4555 /usr/sbin/fuser
4555 /usr/sbin/fuser64
4550 /usr/sbin/getlvcb
4550 /usr/sbin/getlvname
4555 /usr/sbin/getty
4550 /usr/sbin/getvgname
4550 /usr/sbin/grpck
4555 /usr/sbin/hdlcstat
4555 /usr/sbin/ibstat
4554 /usr/sbin/inetd
4555 /usr/sbin/invscout
4550 /usr/sbin/invscoutd
4550 /usr/sbin/ipl_varyon
4555 /usr/sbin/keyenvoy
2555 /usr/sbin/killall
4554 /usr/sbin/krlogind
4554 /usr/sbin/krshd
4550 /usr/sbin/lchangelv
4550 /usr/sbin/lchangepv
4550 /usr/sbin/lchangevg
4550 /usr/sbin/lchlvcopy
4550 /usr/sbin/lcreatelv
4550 /usr/sbin/ldeletelv
4550 /usr/sbin/ldeletepv
4550 /usr/sbin/lextendlv
4550 /usr/sbin/lmigratelv
4550 /usr/sbin/lmigratepp
4555 /usr/sbin/login
4555 /usr/sbin/lparsetres
4555 /usr/sbin/lquerylv
4555 /usr/sbin/lquerypv
4555 /usr/sbin/lqueryvg
4555 /usr/sbin/lqueryvgs
4550 /usr/sbin/lreducelv
4550 /usr/sbin/lresynclp
4550 /usr/sbin/lresynclv
4555 /usr/sbin/lsaudit
4555 /usr/sbin/lscfg
4555 /usr/sbin/lscons
2555 /usr/sbin/lsgroup
4555 /usr/sbin/lslv
4555 /usr/sbin/lsmcode
4555 /usr/sbin/lspath
4555 /usr/sbin/lspv
6555 /usr/sbin/lsresource
4555 /usr/sbin/lsrset
4555 /usr/sbin/lsslot
4555 /usr/sbin/lsuser
4555 /usr/sbin/lsvg
4555 /usr/sbin/lsvgfs
4550 /usr/sbin/lvaryoffvg
4550 /usr/sbin/lvaryonvg
4550 /usr/sbin/lvgenmajor
4550 /usr/sbin/lvgenminor
4550 /usr/sbin/lvrelmajor
4550 /usr/sbin/lvrelminor
4550 /usr/sbin/mkdev
4550 /usr/sbin/mklvcopy
4555 /usr/sbin/mknod
4550 /usr/sbin/mkpasswd
4550 /usr/sbin/mkpath
4555 /usr/sbin/mktcpip.atm
4555 /usr/sbin/mktcpip.ib
4550 /usr/sbin/mkvg
2550 /usr/sbin/mkvirprt
4555 /usr/sbin/mount
4555 /usr/sbin/mtrace
4555 /usr/sbin/muxatmd
4554 /usr/sbin/named8
4554 /usr/sbin/named9
4555 /usr/sbin/ndp
4555 /usr/sbin/netstat
4555 /usr/sbin/netstat64
4555 /usr/sbin/nfsstat
2550 /usr/sbin/pac
4550 /usr/sbin/pdelay
4550 /usr/sbin/pdisable
4550 /usr/sbin/penable
4554 /usr/sbin/perf/diag_tool/getschedparms
4554 /usr/sbin/perf/diag_tool/getvmparms
4550 /usr/sbin/phold
2550 /usr/sbin/pioattred
2550 /usr/sbin/piofontin
2550 /usr/sbin/piopredef
4555 /usr/sbin/portmir
4550 /usr/sbin/pshare
4550 /usr/sbin/pstart
4550 /usr/sbin/putlvcb
4550 /usr/sbin/putlvodm
6550 /usr/sbin/qdaemon
4555 /usr/sbin/quota
4550 /usr/sbin/reboot
4550 /usr/sbin/redefinevg
4555 /usr/sbin/repquota
4555 /usr/sbin/restbyinode
4550 /usr/sbin/rmdev
4550 /usr/sbin/rmgroup
4550 /usr/sbin/rmpath
4550 /usr/sbin/rmrole
4555 /usr/sbin/rmsock
4555 /usr/sbin/rmsock64
4550 /usr/sbin/rmuser
2550 /usr/sbin/rmvirprt
4554 /usr/sbin/route
4554 /usr/sbin/rwhod
6551 /usr/sbin/sendmail_nonssl
6551 /usr/sbin/sendmail_ssl
4555 /usr/sbin/sliplogin
4550 /usr/sbin/snappd
6550 /usr/sbin/srcd
6550 /usr/sbin/srcmstr
4550 /usr/sbin/swap
4550 /usr/sbin/swapoff
4550 /usr/sbin/swapon
4550 /usr/sbin/swcons
4550 /usr/sbin/switch.prt
4550 /usr/sbin/synclvodm
4554 /usr/sbin/talkd
4555 /usr/sbin/timedc
4555 /usr/sbin/tokstat
4555 /usr/sbin/tokstat.cstok
4555 /usr/sbin/umount
4555 /usr/sbin/umountall
4555 /usr/sbin/unmount
4550 /usr/sbin/uucpd
4550 /usr/sbin/varyonvg
4550 /usr/sbin/watch
4555 /usr/websm/bin/discover_lvm
4555 /usr/websm/bin/getCommand
4555 /usr/websm/bin/getShell
4555 /usr/websm/bin/startrefresh
4555 /usr/websm/bin/wsmlssrc
4755 /usr/websm/bin/wsmp
